@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Gloock&family=Nanum+Gothic&display=swap');

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*Header*/

header{
    width: 100%;
    height: 50vw;
    background-image: url(imagenes/foto-cielo3.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    
}

.header-content{
    display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.header-content p{
    font-family: 'DM sans serif', serif;
    font-weight: 100;
    font-size: 3vmin;
    color: #f0efe7;

}

.header-content .p2{
    border-bottom: 1px solid #302f2f;
}

.header-content h1{
    font-family: 'Gloock', serif;
    color: #f0efe7;
    text-align: center;
    font-size: 7vmin;
    margin-bottom: 20px;
}


a.ctn{
   display:inline-block;
   padding: 0.3em 1.2em;
   margin: 15px;
   border: solid #8a9ace;
   border-radius: 2em;
   box-sizing: border-box;
   text-decoration: none;
   color: #242222;
   text-shadow: 0 0.04em 0.04em rgba(54, 52, 52, 0.35);
   transition: all 0.2s;  
}

a.ctn:hover{
  border-color: #384a83;
}

/*Navbar*/

nav{
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

ul{
    list-style: none;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 15px;

}

.nav-links a{
    font-size: 2.2vmin;
    text-decoration: none;
    color: #030303;
    font-family: 'Epilogue',sans-serif;
    transition: 0.02s ease;
}

.nav-links a:hover{
    color: #f7f6f4;
}


.title {
    font-family: 'Gloock', serif;
    font-weight: 400;
    color: #f0efe7;
}

.hangul {
    font-family: 'Nanum Gothic', serif;
    font-style: italic;
    color: #f0efe7;
    font-weight: 400;
}

/*About*/

.descripcionWeb{
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color:#f0efe7;
    text-align: center;
    font-size: 4vmin;
    color: #030303;
}

.descripcionWeb h1{
    font-family: 'Gloock', serif;
     font-size: 7vmin;
     margin-bottom: 20px;
}

.descripcionWeb p{
    font-size: 3vmin;
    font-family:'Epilogue', sans-serif;
}


/*Slide Cards*/

.product{
    width: 100%;
    height: 70vh;
    background-color: rgb(34, 38, 94);
    font-family: 'Gloock', serif;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.product-category{
    color: aliceblue;
    font-size: 6.4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    margin-top: 20px;
    margin-bottom: 100px;
}

.carousel-wrapper {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  padding: 0 10vw;
}

.product-container{
     display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
gap: 40px;}

.product-container::-webkit-scrollbar{
    display: none;
}


.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 350px;
    padding: 15px;
    border-radius: 20px;
    background-color: azure;
    border: 2px solid white;
  
}

.product-img{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card-link{
    border-radius: 20px;
}

.btnNext, .btnPrev{
   border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    z-index: 10;
   
}



.colleciton-container{
width: 100%;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
}

/*Playlist Spotify player*/
.row{
    width: 100vw;
    display: flex;
  flex-wrap: wrap;
}

.side{
    flex:30%;
    background-color: rgb(44, 40, 99);
    padding: 70px;
    display: flex;
  justify-content: center;
  align-items: center;
   
}

.side p{
    font-family: 'Epilogue', sans-serif;
    font-size: 3vmin;
    color: rgb(228, 228, 222);
}

.sideSpotify{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 30%;
  background-color: rgb(44, 40, 99);
  padding: 20px;
}

@media (max-width: 768px) {
            .row {
                flex-direction: column; 
            }
            
            .side, .main {
                flex-basis: 100%; 
                min-width: auto;
            }
        }

iframe{
    width: 70%;
    height: 380px;

}

/*Footer*/

footer{
    width: 100%;
    height: 15vh;
    background-color: #3a3a3a;
     padding: 21px;
}

.containerF{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerF h3{
    font-size: 2vmin;
    font-weight: 100;
    margin-top: 15px;
    color: #f0efe7;
}

.containerF  a{
    text-decoration: none;
    margin-top: 5px;
 color: #f0efe7;
 font-size: 25px;

}

footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1vh;
    font-weight: 100;
    margin-top: 10px;
    color: #f0efe7;
}

